body {
	margin: 0;


	font-size: 15px;
	line-height: 1.6;
	color: #fff;
  background-color: #333;
	font-family: testov;
  overflow-x: hidden;
}
@font-face {
		font-family: testov;
    src: url(assets/fonts/MKtitle.ttf);
}


section{
	width: 100%;
	height: 700px;
	overflow: hidden;
	background: url("assets/photo/toasty.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;

}
.video_mp{
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top:0;
	left: 0;
  font-size: 30px;
  width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.logo_img{
	width: 25%;
	margin: 0 5%;

}
.logo_nav{
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin-right: 50px;
}
.nav_link{
	color: #fff;
}
.nav_link:hover{
		color: #ef8e24;
}
#content1{
	transform: translateX(0px);
}

.button1{
	position: absolute;
	bottom: 50vh;
	left: 0;
	width: 25px;
	height: 100px;
}
.button2{
	position: absolute;
	bottom: 50vh;
	right: 0;
	width: 25px;
	height: 100px;

}
.button3{
	position: absolute;
	bottom: 50vh;/*40*/
	right: 0;
	width: 25px;
	height: 100px;
}
.button4{
	position: absolute;
	bottom: 50vh;/*40*/
	left: 0;
	width: 25px;
	height: 100px;
}
.horiz-rule{display:block;margin:-12px 0;position:relative;height:24px;z-index:1}.horiz-rule .bar{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;height:2px;background-color:#5a4c30}@media (min-width:768px){.horiz-rule .bar{height:4px}}.horiz-rule .arrow{position:absolute;width:20px;height:4px}@media (min-width:768px){.horiz-rule .arrow{width:40px;height:8px}}.horiz-rule .arrow.arrow-left{left:0}.horiz-rule .arrow.arrow-left.arrow-bottom{-webkit-transform:scaleY(-1);transform:scaleY(-1)}.horiz-rule .arrow.arrow-right{right:0}.horiz-rule .arrow.arrow-right.arrow-top{-webkit-transform:scaleX(-1);transform:scaleX(-1)}.horiz-rule .arrow.arrow-right.arrow-bottom{-webkit-transform:scaleX(-1) scaleY(-1);transform:scaleX(-1) scaleY(-1)}.horiz-rule .arrow.arrow-top{top:-4px}@media (min-width:768px){.horiz-rule .arrow.arrow-top{top:-8px}}.horiz-rule .arrow.arrow-bottom{bottom:-4px}@media (min-width:768px){.horiz-rule .arrow.arrow-bottom{bottom:-8px}}.horiz-rule img.bar{width:100%;height:20px}.horiz-rule img.node{width:auto;height:12px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}@media (min-width:768px){.horiz-rule img.node{height:24px}}

.next{
	height: 150px;
	font-size: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ef8e24;
	z-index: 5;
}
button{
	outline: none;
	cursor: pointer;

  border: none;
  color: black;
  padding: 0 10px;
  display: block;

	text-align: left;
	background-color: #2f2f2f;
	display: inline-block;
	vertical-align: top;





	transition: color .2s linear;

}

.content {
	height: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: absolute;
	transform: translateX(100%);
	transition: 0.3s;
	width: 100%;
	overflow: hidden;
}
.lore{
	height: 100vh;
	font-family: 'Raleway', sans-serif;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("assets/photo/shoa.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.content_left{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.5);
}
.content_right{
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.history{
	background: url("assets/photo/mk11-aftermath-1219130.png") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.aftermath{
	width: 1200px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
}
.content_left2{
	display: block;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 400px;

}
.content_right2{

	width: 500px;
	height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
/*media*/
@media (max-width: 1600px) {
	section{

		height: 600px;

	}
	.content {
		height: 600px;

	}

}
@media (max-width: 1400px) {
	section{

		height: 500px;

	}
	.content {
		height: 500px;

	}
	.button1{
		position: absolute;
		bottom: 60vh;
		left: 0;
		width: 25px;
		height: 100px;
	}
	.button2{
		position: absolute;
		bottom: 60vh;
		right: 0;
		width: 25px;
		height: 100px;

	}
	.button3{
		position: absolute;
		bottom: 60vh;/*40*/
		right: 0;
		width: 25px;
		height: 100px;
	}
	.button4{
		position: absolute;
		bottom: 60vh;/*40*/
		left: 0;
		width: 25px;
		height: 100px;
	}

}
@media (max-width: 1200px) {
	section{

		height: 400px;

	}
	.content {
		height: 400px;

	}
	.button1{
		position: absolute;
		bottom: 70vh;
		left: 0;
		width: 25px;
		height: 100px;
	}
	.button2{
		position: absolute;
		bottom: 70vh;
		right: 0;
		width: 25px;
		height: 100px;

	}
	.button3{
		position: absolute;
		bottom: 70vh;/*40*/
		right: 0;
		width: 25px;
		height: 100px;
	}
	.button4{
		position: absolute;
		bottom: 70vh;/*40*/
		left: 0;
		width: 25px;
		height: 100px;
	}
}

@media (max-width: 900px) {
	section{

		height: 300px;

	}
	.content {
		height: 300px;

	}
	.button1{
		position: absolute;
		bottom: 80vh;
		left: 0;
		width: 25px;
		height: 100px;
	}
	.button2{
		position: absolute;
	bottom: 80vh;
		right: 0;
		width: 25px;
		height: 100px;

	}
	.button3{
		position: absolute;
	bottom: 80vh;/*40*/
		right: 0;
		width: 25px;
		height: 100px;
	}
	.button4{
		position: absolute;
	bottom: 80vh;/*40*/
		left: 0;
		width: 25px;
		height: 100px;
	}
}
.nav_link2 {
 display: inline-block;
 vertical-align: top;
 margin: 10px 30px;

 position: relative;

 color: #333;
 text-decoration: none;
 transition: color .2s linear;
}

.nav_link2::after{
 content: "";
 display: block;
 width: 100%;
 height: 3px;


 background-color: #597da3;
 opacity: 0;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 1;

 transition: opacity .1s linear;
}

.nav_link2:hover {
 color: #597da3;
}

.nav_link2:hover::after {

 opacity: 1;
}



.nav_link3 {
 display: inline-block;
 vertical-align: top;
 margin: 10px 30px;

 position: relative;

 color: #333;
 text-decoration: none;
 transition: color .2s linear;
}

.nav_link3::after{
 content: "";
 display: block;
 width: 100%;
 height: 3px;


 background-color: #fc0fc0;
 opacity: 0;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 1;

 transition: opacity .1s linear;
}

.nav_link3:hover {
 color: #fc0fc0;
}

.nav_link3:hover::after {

 opacity: 1;
}
@media (max-width: 700px) {
	section{

		height: 200px;

	}
	.content {
		height: 200px;

	}
}
